@model ClientViewModel

@{
    ViewData["Title"] = "Criar Cliente";
}

@using (Html.BeginForm("Create", "Client", FormMethod.Post, new { id = "formClientAlter", name = "formClientAlter" }))
{
    <div class="form-group pb-2">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group pb-2">
        @Html.LabelFor(m => m.Telephone)
        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control phone-mask" })
        @Html.ValidationMessageFor(m => m.Telephone, "", new { @class = "text-danger" })
    </div>
    <div class="form-group pb-2">
        @Html.LabelFor(m => m.Cpf)
        @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control cpf-mask" })
        @Html.ValidationMessageFor(m => m.Cpf, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
}
