@model ClientViewModel

@{
    ViewData["Title"] = "Editar Cliente";
}

@if (@TempData["error"] != null)
{
    <div id="alert" class="alert-feedback alert alert-success alert-dismissible fade show d-flex justify-content-between" role="alert">
        @TempData["error"]
        <span type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">X</span>
        </span>
    </div>
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>

    @using (Html.BeginForm("Update", "Client", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Telephone)
            @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control phone-mask" })
            @Html.ValidationMessageFor(m => m.Telephone, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Cpf)
            @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control cpf-mask" })
            @Html.ValidationMessageFor(m => m.Cpf, "", new { @class = "text-danger" })
        </div>

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    }
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.cpf-mask').mask('999.999.999-99');
            $('.phone-mask').mask('(99) 99999-9999');
        });
    </script>
}
